* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
}

.container {
  background-color: #3c444d !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  flex: 1;
}

.quiz-card {
  width: 30rem;
  overflow: hidden;
}

#answer_1,
#answer_2,
#answer_3,
#answer_4 {
  cursor: pointer;
}

.quiz-answer-card:hover {
  background-color: #3c444d;
}

.imageWrapper {
  width: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questionImage {
  height: 200px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

#questionImage:hover {
  height: 200px;
  object-fit: cover;
  transform: scale(1.05);
}

.question-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 16px;
}

#checkBtn {
  padding-inline: 16px;
}

.correctAnswer {
  background-color: rgba(58, 161, 40, 0.559);
}

.wrongAnswer {
  background-color: rgba(161, 40, 40, 0.559);
  border-radius: 10px;
}
