:root {
  --main-font-size: 16px;
  --main-font-color: white;
  --background-color-header-footer: #092029;
  --background-color-main: #06171e;
  --content-limitation: 1920px;
  --base-img-width-nm: 150px;
  --base-img-height-nm: 150px;
  --base-img-width-wm: 560px;
  --base-img-height-wm: 375px;
}

@font-face {
  font-family: "figtree";
  src: url(./assets/fonts/Figtree-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-family: "figtree";
}

h1 {
  font-size: 56px;
  font-weight: 800;
}

.sideWrapper {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-header-footer);
  width: 100%;
}

.mainContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--background-color-main);
  width: 100%;
}

.footerContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--background-color-header-footer);
  padding: var(--header-footer-padding);
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color-header-footer);
  width: var(--content-limitation);
  padding: var(--header-footer-padding);
  max-width: var(--content-limitation);
  padding-block: 20px;
  padding-inline: 140px;
}

.header img {
  width: 215px;
  height: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color-main);
  width: var(--content-limitation);
}

.mainContentNoModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  height: 495px;
  gap: 80px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: var(--background-color-main);
  border-radius: 50px;
  border: none;
  margin: auto;
  padding-block: 56px;
  padding-inline: 64px;
}

#dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-font-color);
  font-size: 18px;
  width: 100%;
}

#btnCloseModal {
  background-color: var(--background-color-main);
  color: var(--main-font-color);
  font-size: 18px;
  border: none;
}

#iconCloseModal {
  width: 32px;
  height: 32px;
}

#iconCloseModal {
  cursor: pointer;
}

.modalImageContainer {
  overflow: hidden;
}

#modalImage {
  width: var(--base-img-width-wm);
  height: var(--base-img-height-wm);
  object-fit: cover;
  transform: scale(1.05);
}

.generatedImageContainer {
  overflow: hidden;
  border-radius: 10px;
}

.generatedImage:hover {
  transform: scale(1.2);
  transition: all 1s ease;
  cursor: pointer;
  border-radius: 10px;
}

.modalControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  background-color: var(--background-color-main);
  color: var(--main-font-color);
  font-size: 22px;
  width: 280px;
}

#imgArrowLeft {
  width: 60px;
  height: 60px;
}

#imgArrowRight {
  width: 60px;
  height: 60px;
}

#imgArrowLeft:hover {
  cursor: pointer;
  transition: all ease;
  filter: opacity(0.75);
}

#imgArrowRight:hover {
  cursor: pointer;
  transition: all ease;
  filter: opacity(0.75);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--background-color-header-footer);
  padding: var(--header-footer-padding);
  max-width: var(--content-limitation);
  height: 128px;
}

footer p {
  color: #adabab;
}

.d_none {
  display: none;
}

@media (width < 740px) {
  .mainContentWrapper {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 150px;
  }

  #modalImage {
    width: 300px;
    height: 375px;
  }
}

@media (width < 678px) {
  h1 {
    text-align: center;
    font-size: 48px;
  }

  .header {
    padding-inline: 0;
    justify-content: center;
  }
}

@media (width < 500px) {
  .mainContentWrapper {
    padding-top: 30px;
  }

  .mainContentNoModal {
    height: auto;
    padding-bottom: 50px;
  }

  #modalImage {
    width: 200px;
    height: 275px;
  }

  #modalTitle {
    font-size: 20px;
    padding-bottom: 7px;
  }

  dialog {
    padding-inline: 33px;
  }
}

@media (width < 400px) {
  .modalControl {
    width: 100%;
  }
}
