:root {
  --main-font-size: 16px;
  --main-font-color: white;
  --background-color-header-footer: #092029;
  --background-color-main: #06171e;
  --content-limitation: 1920px;
  --header-footer-padding: 32px;
  --base-img-width-nm: 150px;
  --base-img-height-nm: 150px;
  --base-img-width-wm: 560px;
  --base-img-height-wm: 375px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--main-font-size);
  color: var(--main-font-color);
}

.sideWrapper {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-header-footer);
  width: 100%;
}

.mainContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--background-color-main);
  width: 100%;
}

.footerContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--background-color-header-footer);
  padding: var(--header-footer-padding);
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color-header-footer);
  width: var(--content-limitation);
  padding: var(--header-footer-padding);
  max-width: var(--content-limitation);
}

.header img {
  width: 215px;
  height: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-main);
  width: var(--content-limitation);
}

dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: var(--background-color-main);
  border-radius: 50px;
  margin: 0 auto;
  padding-block: 56px;
  padding-inline: 64px;

  /* copied from:
   "https://stackoverflow.com/questions/1205457/how-to-design-a-css-for-a-centered-floating-confirm-dialog"
   Marco oder andere noch nach besseren Lösungen fragen */
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;

  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-font-color);
  font-size: 18px;
  width: 100%;
}

#btnCloseModal {
  background-color: var(--background-color-main);
  color: var(--main-font-color);
  font-size: 18px;
  padding: 8px;
  border: none;
}

.modalImageContainer {
  width: var(--base-img-width-wm);
  height: var(--base-img-height-wm);
}

#modalImage {
  width: var(--base-img-width-wm);
  height: var(--base-img-height-wm);
  object-fit: cover;
}

.modalControl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: var(--background-color-main);
  color: var(--main-font-color);
  font-size: 22px;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--background-color-header-footer);
  padding: var(--header-footer-padding);
  width: var(--content-limitation);
}

footer p {
  color: grey;
}

.d_none {
  display: none;
}
