* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 96px;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-size: 80px;
  font-weight: 700;
  color: #9f0908;
  text-align: center;
}

h3 {
  font-family: "Economica", sans-serif;
  font-size: 80px;
  font-weight: 700;
}

.siteHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.headerNavigation {
  display: flex;
  align-items: center;
  padding: 32px 160px;
}

#sakuraLogo {
  width: 64px;
  height: 64px;
}

.navbar {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 24px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #7d7d7d;
}

.navbar img {
  width: 18px;
  height: 18px;
}

#phoneBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 44px;
  padding: 0 16px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #9f0908;
}

.hero {
  height: 100dvh;
  background: url("./assets/img/1_hero/JPG/hero_bg.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20rem;
}

.hero p {
  font-size: 24px;
  color: #fff;
}

.howToOrder {
  padding: 120px 160px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.howToOrder h3 {
  font-size: 56px;
}

.menuAlign {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spaceBetween {
  text-align: center;
}

.howToOrder img {
  width: 128px;
}

.ourMenu {
  padding: 120px 160px;
  background: url("./assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg");
}

.ourMenu h2 {
  padding-bottom: 8px;
}

.dish-left {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 56px;
}

.dish-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 80px;
  padding-top: 56px;
}

.ourMenu img {
  width: 352px;
  height: 352px;
}

table {
  border-collapse: collapse;
}

th {
  font-family: "Economica", sans-serif;
  font-size: 56px;
  font-weight: 700;
  padding-bottom: 16px;
  text-align: left;
}

td {
  font-size: 32px;
  font-weight: bold;
  color: #675e54;
  padding-bottom: 8px;
}

.findUsAt {
  padding: 120px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findUsAt p {
  margin: 8px 0 64px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.findUsAt img {
  width: 24px;
  height: 24px;
}

.findUsAt iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

.siteFooter {
  height: 144px;
  background: #0a141e;
  padding: 0 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogoSakura {
  height: 44px;
}

.socialDiv {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socialDiv a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  width: 40px;
  height: 40px;
}

.siteFooter h2 {
    font-size: 32px ;
    color: white;
  }

  .logoAndText {
    display: flex;
    align-items: center;
    gap: 16px;
  }

@media (min-width: 768px) and (max-width: 1280px) {
  .headerNavigation {
    padding: 24px;
  }

  .navbar a {
    display: none;
  }

  #phoneBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
  }

  .hero {
    height: 100vh;
    background-position: bottom;
  }

  .hero h1 {
    font-size: 72px;
  }

  .hero p {
    font-size: 20px;
  }

  h2 {
    font-size: 64px;
  }

  .howToOrder {
    padding: 96px 24px;
    gap: 48px;
  }

  .menuAlign {
    justify-content: space-evenly;
  }

  .howToOrder img {
    width: 112px;
    margin-bottom: 8px;
  }

  .howToOrder h3 {
    font-size: 32px;
  }

  .ourMenu {
    padding: 96px 24px;
  }

  .ourMenu h2 {
    padding-bottom: 48px;
  }

  .ourMenu img {
    width: 352px;
    height: 352px;
  }

  .dish-left {
    gap: 32px;
    padding-top: 0;
    margin-bottom: 32px;
  }

  .dish-right {
    gap: 32px;
    padding-top: 0;
    margin-bottom: 32px;
  }

  .dish-left table {
    width: 320px;
  }

  .dish-right table {
    width: 320px;
  }

  th {
    font-size: 32px;
  }

  td {
    font-size: 24px;
  }

  .findUsAt {
    padding-right: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .findUsAt p {
    font-size: 20px;
    margin: 8px 0 48px;
  }

  .siteFooter {
    padding: 0 24px;
    height: 144px;
  }

  .siteFooter h2 {
    font-size: 32px ;
    color: white;
  }

   .logoAndText {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 767.98px) {
  .headerNavigation {
    padding: 16px 24px;
  }

  .navbar a {
    display: none;
  }

  #phoneBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }

  #sakuraLogo {
    height: 40px;
    width: 40px;
  }  

  .hero {
    padding-top: 14rem;
    background-position: bottom;
  }

  .hero h1 {
    font-size: 44px;
    margin-bottom: 30px;
  }

  .hero p {
    font-size: 16px;
  }

  h2 {
    font-size: 48px;
  }

  .howToOrder {
    padding: 72px 16px;
  }

  .howToOrder h2 {
    font-size: 40px;
    font-weight: bold;
  }

  .howToOrder h3 {
    font-size: 32px;
    font-weight: bold;
  }

  .howToOrder img {
    width: 112px;
  }

  .menuAlign {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .ourMenu {
    padding: 72px 16px;
  }

  .ourMenu h2 {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .ourMenu img {
    width: 100%;
    max-width: 343px;
    height: auto;
  }

  .dish-right,
  .dish-left {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .dish-left {
    padding-top: 0;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .dish-right {
    padding-top: 0;
    text-align: left;
    margin-top: 32px;
  }

  .dish-left table {
    width: 100%;
    max-width: 700px;
    margin-top: 16px;
  }

  .dish-right table {
    width: 100%;
    max-width: 700px;
    margin-top: 16px;
  }

  .ourMenu th {
    font-size: 32px;
    padding-bottom: 8px;
    text-align: left;
  }

  .ourMenu td:first-child {
    font-size: 24px;
    padding-bottom: 8px;
    text-align: left;
  }

  .ourMenu td:last-child {
    font-size: 24px;
    padding-bottom: 8px;
    text-align: right;
  }

  .findUsAt {
    padding-bottom: 0px;
    padding-top: 72px;
  }

  .findUsAt p {
    font-size: 20px;
    margin: 8px 0 40px;
  }

  .findUsAt iframe {
    width: 100%;
  }

  .siteFooter {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding: 24px;
    height: 86px;
  }

  .socials {
    width: 32px;
    height: 32px;
  }

  .siteFooter h2 {
    font-size: 32px ;
    color: white;
  }

   .footerLogoSakura {
    height: 40px;
  }

  .logoAndText {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .logoAndText h2 {
    display: none;
  }
}
